body {
    margin: 0;
    background-color: white; /* Set background color to white */
}

.centered-form {
    width: 90%; /* Make the form width responsive */
    max-width: 1160px;
    margin: 50px auto; /* Adjust the margin for better responsiveness */
    background-color: #d9d9d9;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    font-weight: bold;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

@media (max-width: 768px) { /* Responsive styles for smaller screens */
    .centered-form {
        margin: 10px auto; /* Adjust the margin for smaller screens */
    }
}
